        <footer>
            <ul class="links">
                <li><a href="#">Lucas Azevedo (Curso Fullstack Master)</a></li>
                <li><a href="https://github.com/lucasbazev" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/lucas-azevedo-09360419a" target="_blank">LinkedIn</a></li>
            </ul>
        </footer>
    </body>
</html>