<%- include('header') %>

        <form action="/cotacao" method="GET">
            <input name="cotacao"placeholder="Cotação">
            <input name="quantidade" placeholder="Quantidade de dólares">
            <button>Converter!</button>
        </form>

<%- include('footer') %>